.details {
  flex-basis: 200px;
  flex-grow: 3;
  min-height: 200px;
}

.details-tabs {
  display: flex;
}

.details-tabs > div {
  flex-grow: 1;
}

.active-tab-header {
  background-color: white;
  color: #0495A8;
}

.inactive-tab-header {
  background-color: #0495A8;
}

.tab-header {
  flex-grow: 1;
}

.details-content {
  margin: 16px;
  color: black;
  display: flex;
  font-weight: 600;
  flex-direction: column;
  font-size: 12px;
}

.details-row {
  display: flex;
  flex-basis: 32px;
}

.details-cell-content {
  padding-left: 9px;
  padding-top: 9px;
  flex-grow: 2;
  font-weight: 400;
  margin-left: 1px;
  margin-bottom: 1px;
  background-color: #D5F9FF;
}

.details-cell-title {
  padding-left: 9px;
  padding-top: 9px;
  margin-bottom: 1px;
  background-color: #A7D9E2;
  flex-basis: 170px;
}
