.extra-info {
  background-color: #606060;
  flex-basis: 330px;
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.extra-area {
  flex-basis: 50%;
}

.extra-area-content {
  flex-grow: 1;
  background-color: white;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.world-cloud {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.world-cloud-content {
  flex-grow: 1;
  background-color: white;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.words-area { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
}

.words-area div {
  text-transform: uppercase;
  font-weight: 600;
  margin: 1px 10px;
  cursor: default;
}

.words-area div:nth-child(3n + 1) {
  color: #F8C334;
}

.words-area div:nth-child(3n + 2) {
  color: #E26F24;
}

.words-area div:nth-child(3n) {
  color: #E36369;
}

.slider-filter {
  margin-top: 10px;
  display: flex;
  min-height: 55px;
  padding-top: 10px;
}

.filter-text {
  font-size: 12px;
  flex-basis: 75px;
  margin-left: 10px;
}

.slider {
  flex-grow: 1;
}

.slider input{
  -webkit-appearance: none;
  width: calc(100% - 15px);
  height: 4px;
  border-radius: 2px;
  background: #B5B5B5;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border: 2px solid #FF9D03;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.comments {
  margin-top: 8px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.comments-content {
  flex-basis: 100px;
  flex-grow: 1;
  background-color: white;
  min-height: 0;
}

.comments-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 3px;
}

.comment {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.comment-head {
  display: flex;
  flex-basis: 40px;
  justify-content: space-between;
}

.user {
  display: flex;
}

.avatar {
  min-height: 32px;
  min-width: 32px;
  margin: 10px;
  background: url('./avatar.svg') no-repeat;
  background-size: 32px;
}

.username {
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  margin-top: 16px;
}

.comment-date {
  font-size: 12px;
  color: #ACDAE0;
  margin-top: 16px;
}

.comment-likes {
  display: flex;
  flex-basis: 85px;
}

.positive-count {
  font-size: 14px;
  color: #1589A0;
  margin-top: 12px;
  margin-right: 5px;
}

.comment-likes div {
  flex-basis: 20px;
}

.positive-hand {
  background: url('./thumb-up.svg') no-repeat;
  background-size: 16px;
  background-position-y: center

}

.negative-count {
  font-size: 14px;
  color: #686868;
  margin-top: 12px;
  margin-left: 5px;
}

.negative-hand {
  background: url('./thumb-down.svg') no-repeat;
  background-size: 16px;
  background-position-y: center

}

.comment-text {
  font-size: 12px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #C5C5C5;
}

.comments-buttons {
  margin-top: 10px;
  display: flex;
  min-height: 55px;
}

.leave-comment {
  background-color: #F9C447;
  flex-basis: 150px;
  padding-top: 10px;
  margin-bottom: 16px;
  margin-left: 16px;
  padding-left: 10px;
  cursor: pointer;
}

.view-all {
  text-decoration: underline;
  background-color: transparent;
  flex-basis: 150px;
  padding-top: 10px;
  margin-bottom: 16px;
  margin-left: 16px;
  padding-left: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .comments {
    margin-bottom: 8px;
  }
}
