.locations {
  flex-basis: 330px;
  flex-grow: 5;
  min-height: 400px;
}

.locations-content {
  font-size: 12px;
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  min-width: min-content;
  overflow-x: auto;
  border: 1px solid #E5E5E5;
}

.location-table {
  overflow: unset;
}


.location-header {
  display: flex;
  flex-shrink: 0;
}

.location-header div {
  background-color: #A7D9E2;
  color: black;
  display: inline-block;
  min-width: 18%;
  padding-top: 9px;
  padding-bottom: 9px;
  border-right: 1px solid #9ECED6;
  text-align: center;
}

.location-header div:last-child {
  border: none;
}

.location-row {
  display: flex;
  flex-shrink: 0;
}

.location-row div {
  background-color: white;
  color: #47ADBD;
  white-space: nowrap;
  display: inline-block;
  min-width: 18%;
  padding-top: 9px;
  padding-bottom: 9px;
  border-right: 1px solid #9ECED6;
  border-bottom: 1px solid #9ECED6;
  padding-left: 9px;
}

.location-row div:last-child {
  border-right: none;
}

.location {
  color: #47AEBE;
}

.active-location {
  color: black;
}
