.map {
  flex-basis: 200px;
  flex-grow: 3;
  min-height: 200px;
}

.map-content{
  overflow: hidden;
  position: relative;
  height: calc(100% - 30px);
}

.map-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 1024px) {
  .map {
    flex-basis: 270px;
  }
}
